.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: left;
  small {
    font-size: 0.5em;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal {
  display: 'flex' !important;
  align-items: 'center' !important;
  justify-content: 'center' !important;
  padding: '20px' !important;
}
.input-formulaire {
  padding: 5px;
}
